.Grepp{
    width: 20px;
    height: 20px;
}
nav{
                background: lightblue;
                border: 2px solid black;
                padding: 30px;
                margin-left: 200px;
                margin-right: 200px;
                text-align: center;
                border-radius: 25px;
}